<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.xk.report.mapper.ImportMapper">
    <!-- 批量保存ssbgxx -->
    <insert id="batchInsertSsbgxx">
        insert into t_ssbgxx
        (
            bgid,
            ssid,
            mc,
            zjhm,
            ybglx,
            lxdh,
            xdz,
            create_time,
            update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.bgid},
                #{item.ssid},
                #{item.mc},
                #{item.zjhm},
                #{item.ybglx},
                #{item.lxdh},
                #{item.xdz},
                now(),
                now()
            )
        </foreach>
    </insert>

    <!-- 批量保存ssbqxx -->
    <insert id="batchInsertSsbqxx">
        insert into t_ssbqxx
        (
            bqid,
            ssid,
            bqjd,
            bqlx,
            bqfs,
            sflhcf,
            cqzt,
            bqqsr,
            bqccjz,
            czzt,
            sfxf,
            cfxfr,
            jbfg,
            createtime
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.bqid},
                #{item.ssid},
                #{item.bqjd},
                #{item.bqlx},
                #{item.bqfs},
                #{item.sflhcf},
                #{item.cqzt},
                #{item.bqqsr},
                #{item.bqccjz},
                #{item.czzt},
                #{item.sfxf},
                #{item.cfxfr},
                #{item.jbfg},
                now()
            )
        </foreach>
    </insert>

    <!-- 批量保存ssxx -->
    <insert id="batchInsertSsxx">
        insert into t_ssxx
        (
            id,
            jkid,
            dfmc,
            jkrzjh,
            fqrq,
            sljd,
            slfg,
            bde,
            pjr,
            pjsah,
            org_code_ss
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.jkid},
                #{item.dfmc},
                #{item.jkrzjh},
                #{item.fqrq},
                #{item.sljd},
                #{item.slfg},
                #{item.bde},
                #{item.pjr},
                #{item.pjsah},
                #{item.orgCodeSs}
            )
        </foreach>
    </insert>

    <!-- 批量保存sszxxx -->
    <insert id="batchInsertSszxxx">
        insert into t_sszxxx
        (
            zxid,
            ssid,
            zxah,
            zxfy,
            zxfg,
            ssxmdrq,
            sfdczxhj,
            createtime
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.zxid},
                #{item.ssid},
                #{item.zxah},
                #{item.zxfy},
                #{item.zxfg},
                #{item.ssxmdrq},
                #{item.sfdczxhj},
                now()
            )
        </foreach>
    </insert>

    <!-- 批量保存sslaxx -->
    <insert id="batchInsertSslaxxs">
        insert into t_sslaxx
        (
            id,
            ssid,
            larq,
            ktrq,
            sljd,
            ssft,
            zsfg,
            bdje,
            sljg,
            sjrq,
            flwssxr,
            createtime
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
                #{item.id},
                #{item.ssid},
                #{item.larq},
                #{item.ktrq},
                #{item.sljd},
                #{item.ssft},
                #{item.zsfg},
                #{item.bdje},
                #{item.sljg},
                #{item.sjrq},
                #{item.flwssxr},
                now()
            )
        </foreach>
    </insert>

    <!-- 查询所有诉讼管理机构 -->
    <select id="queryAllOrgs" resultType="indi.xk.report.pojo.Org">
        select
        org_id,
        org_name
        from sys_org
    </select>
</mapper>