<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.xk.report.mapper.StudentMapper">
    <!-- 列表数量 -->
    <select id="count" resultType="Integer">
        select count(*) from student
    </select>

    <!-- 列表 -->
    <select id="findAll" resultType="indi.xk.report.pojo.dto.StudentDTO">
        select
        id,
        student_id,
        `name`,
        sex,
        age,
        birthday
        from student
        <if test="pageView != null">
            LIMIT #{pageView.startPage},#{pageView.pageSize}
        </if>
    </select>

    <!-- 批量插入 -->
    <insert id="batchInsert">
        insert into student
        (
            student_id,
            `name`,
            sex,
            age,
            birthday
        )
        values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.studentId},
            #{item.name},
            #{item.sex},
            #{item.age},
            #{item.birthday}
        )
        </foreach>
    </insert>

    <!-- 导入学生 -->
    <insert id="importStudent">
        insert into student
        (
        student_id,
        `name`,
        sex,
        age,
        birthday
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.studentId},
            #{item.name},
            #{item.sex},
            #{item.age},
            #{item.birthday}
            )
        </foreach>
    </insert>
</mapper>